/* 2021 10 15 */


/* Super Bild Media Item */
/* Bis jetzt nur auf der Startseite */


/* z-index ist nötig, damit die scroll bühne hinter dem teaser verschwindet*/

.super-bild-media-element {
	z-index: 2;
	position: relative;
	margin-bottom: 15em;
}

.super-bild-media-item {
	margin-bottom: 10em;
}

.super-bild-media-item__text {
	margin-top: 1em;
	max-width: 48em;
	padding-left: 2rem;
	padding-right: 2rem;
}

.super-bild-media-item--small {
	padding-left: 13%;
	padding-right: 13%;
}

.super-bild-media-item--small .super-bild-media-item__text {
	padding-left: 0;
	padding-right: 0;
}

.super-bild-media-item__title {
	font-size: 2.5em;
	margin-block-end: 0;
	margin-block-start: 0;
}

.super-bild-media-item__text p {
	margin-block-end: 0.75em;
	margin-block-start: 0.25em;
}


/* .super-bild-media-item__text  a{
  text-decoration: underline;
}  */
