/* 2021 10 15 */

/* 2021 10 13 */

.element{
  margin: 2rem;
}
.element--kein-rand{
  margin-left: 0rem;
  margin-right: 0rem;
}
.element--padding{
  margin-left: 0rem;
  margin-right: 0rem;
  padding-left: 2rem;
  padding-right: 2rem;
}


/* .element:last-child{
  margin-bottom: 0;
} */
