/* 2021 10 16 */

/* 2021 10 15 */

/* 2021 10 13 */

.element{
  margin: 2rem;
}
.element--fullbleed{
  margin-left: 0rem;
  margin-right: 0rem;
}
.element--padding{
  margin: 0;
padding: 2rem;
}


.element--abstand-unten1{
  margin-bottom: 5rem;
}
@media only screen and (max-width: 1024px) {
  .element--abstand-unten2{
    margin-bottom: 3rem;
  }
}
.element--abstand-unten2{
  margin-bottom: 10rem;
}
@media only screen and (max-width: 1024px) {
  .element--abstand-unten2{
    margin-bottom: 6rem;
  }
}
.element--abstand-unten3{
  margin-bottom: 15rem;
}
@media only screen and (max-width: 1024px) {
  .element--abstand-unten3{
    margin-bottom: 10rem;
  }
}

.element--rand-oben{
  border-top: 1px solid black;
}

.element--rand-unten{
  border-bottom: 1px solid black;
}
