/* Main menu typography styling */

.programm-0,
.programm-3 {
	letter-spacing: 0.02em;
}

.programm-1,
.programm-2 {
	letter-spacing: 0.01em;
}

.programm-6,
.medien-0,
.medien-1,
.medien-3,
.medien-4 {
	letter-spacing: 0.03em;
}

.medien-0 {
	text-transform: lowercase;
}

.medien-2 {
	letter-spacing: 0.02em;
}

.medien-3 {
	text-transform: uppercase;
}

.programm-1,
.programm-4 {
	text-transform: uppercase;
}

.dashaus-0 {
	letter-spacing: -0.085em;
}

.dashaus-1 {
	letter-spacing: -0.03em;
}

.dashaus-2 {
	letter-spacing: -0.13em;
}

.dashaus-5 {
	letter-spacing: -0.045em;
}

.dashaus-6 {
	letter-spacing: 0.005em;
}

@media only screen and (min-width: 1800px) {
	.programm-0,
	.programm-3 {
		letter-spacing: 0.005em;
	}
	.programm-1,
	.programm-2 {
		letter-spacing: 0;
	}
	.programm-6 {
		letter-spacing: 0.02em;
	}
}


/* Header */

header {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	background: white;
	z-index: 99;
	left: 0;
	right: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	padding: 2rem;
	padding-bottom: 0;
	transition: top 0.5s, bottom 0.5s;
	min-width: 285px;
}

@media only screen and (max-width: 1024px) {
	header {
		display: block;
		padding: 1rem;
	}
}


/* Header, wenn mobiles Men체 offen ist */

@media only screen and (max-width: 1024px) {
	.header--open-menu {
		top: 0!important;
		height: 100vh;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		position: fixed;
		width: 100%;
		z-index: 10;
		background: white;
	}
}

/* Logo */
.header__logo{
  margin-top: 0.2rem;
}
@media only screen and (max-width: 1024px) {
	.header__logo{
	  margin-top: 0;
	}
}

.header__logo svg {
	fill: black;
	height: calc(1.7em *0.955);
	width: auto;
}

@media (min-width: 768px) {
	.header__logo svg {
		height: calc(2em *0.955);
	}
}

@media (min-width: 900px) {
	.header__logo svg {
		height: calc(2.5em *0.955);
	}
}

@media (min-width: 1200px) {
	.header__logo svg {
		height: calc(3em *0.955);
	}
}

@media (min-width: 1800px) {
	.header__logo svg {
		height: calc(4em *0.955);
	}
}

@media (min-width: 2400px) {
	.header__logo svg {
		height: calc(5em *0.955);
	}
}

@media only screen and (max-width: 1024px) {
.header--open-menu .header__logo {
	margin-bottom: 2em;
}
}

@media only screen and (max-width: 1024px) {
	.header__logo {
		flex-grow: 1;
	}
	.header__logo svg {
		height: 3em;
		width: auto;
	}
}


/* Menu */

.menu {
	flex-grow: 0.8;
	line-height: 1.1;
}

.menu__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

@media only screen and (max-width: 1024px) {
	.menu__items {
		display: block;
	}
}




/* Main Menu Item */

.mainmenu__item {
	display: block;
	padding-bottom: 1rem;
	font-size: calc(2em *0.955);

}

@media only screen and (max-width: 1024px) {
	.mainmenu__item {
		display: none;
		padding-bottom: 0;
		margin-bottom: 1rem;
	}
}

@media only screen and (max-width: 1024px) {
	.header--open-menu .mainmenu__item {
		display: block;
	}
}

.mainmenu__item>a {
	font-family: "Lyno Stan HKW";
}

@media only screen and (max-width: 1024px) {
	.mainmenu__item>a {
		margin-bottom: 1em;
		font-size: 2.8rem;
	}
}


/* @media (min-width: 768px) {
	.mainmenu__item {
		font-size: calc(2em *0.955);
	}
} */

@media (min-width: 900px) {
	.mainmenu__item {
		font-size: calc(2.5em *0.955);
	}
}

@media (min-width: 1200px) {
	.mainmenu__item {
		font-size: calc(3em *0.955);
	}
}

@media (min-width: 1800px) {
	.mainmenu__item {
		font-size: calc(4em *0.955);
	}
}

@media (min-width: 2400px) {
	.mainmenu__item {
		font-size: calc(5em *0.955);
	}
}

.mainmenu__item>a:hover {
	padding-bottom: 0;
	border-bottom: 0.35rem solid black;
}

@media only screen and (max-width: 1024px) {
	.mainmenu__item>a:hover {
		padding-bottom: 0;
		border-bottom: inherit;
	}
}

.menu__item--selected>a {
	padding-bottom: 0;
	border-bottom: 0.35rem solid black;
}

@media only screen and (max-width: 1024px) {
	.menu__item--selected>a {
		padding-bottom: 0;
		border-bottom: 0;
	}
}

.menu__item--selected>a:hover {
	padding-bottom: 0;
	border-bottom: 0.35rem solid black;
}

@media only screen and (max-width: 1024px) {
	.menu__item--selected>a:hover {
		padding-bottom: 0;
		border-bottom: 0;
	}
}


/* Menu Language Switcher & Search */

/* .language-search-menu {
	display: flex;
	margin-top: 0.3rem;
} */

.menu__item.search-btn svg {
	/* height: calc(1.7em *0.955); */
	height: calc(3em *0.955);

	width: auto;
}

/* @media (min-width: 768px) {
	.menu__item.search-btn svg {
		height: calc(2em *0.955);
	}
}

@media (min-width: 900px) {
	.menu__item.search-btn svg {
		height: calc(2.5em *0.955);
	}
} */
@media (min-width: 1024px) {
	.menu__item.search-btn svg {
		margin-top: 0.3rem;
	}
}


@media (min-width: 1200px) {
	.menu__item.search-btn svg {
		height: calc(3em *0.955);
	}
}

@media (min-width: 1800px) {
	.menu__item.search-btn svg {
		height: calc(4em *0.955);
	}
}

@media (min-width: 2400px) {
	.menu__item.search-btn svg {
		height: calc(5em *0.955);
	}
}

/* .menu__item-language-switch {
	font-family: "Fakt Pro";
	text-align: center;
	margin-right: 1em;
} */



@media only screen and (max-width: 1024px) {
	.menu__item.search-btn {
		position: absolute;
		right: 5rem;
		top: 1rem;
	}
}
@media only screen and (max-width: 350px) {
	.menu__item.search-btn {
		right: 4rem;
	}
	.menu__item.search-btn svg {
		width: 1.5rem;
		height: auto;
	}
}


/* Zeichne Seite weich, wenn Suche offen */
/* .page-wrap{
	transition: all  500ms linear
}
.page-wrap.open-search-modal{
	filter: blur(10px);
} */

/* Suche modal */

/* Skizze */

.search-modal-wrap{
display: none;
position: fixed;
left: 0;
right: 0;
top: 0;
bottom:0;
width: 100%;

background: rgba(255, 255, 255, 1);
z-index: 1000;



}
.search-modal-wrap--visible{
	display: block;

}

.search-modal{
	display: flex;
	background: black;
	height: 6rem;
	position: relative;
}

.search-modal::before{
	background: transparent linear-gradient(180deg, black 20%, rgba(255, 255, 255, 0) 100%);
	position: absolute;
	content: " ";
	width: 100%;
	height: 50vh;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	pointer-events: none;
}

.search-modal input[type=text] {
margin: 1rem;
padding: 0.3rem;
  font-size: 3rem;
  border: none;
  background: black;
	color: white;
	flex-grow: 1;
}


.search-modal-close{
	color:white;
	margin: 1rem;
	padding: 0.3rem;
	font-size: 2rem;
 background: transparent;
 border: none;
}

.search-modal-close span{
	transform: rotate(45deg);
display: inline-block;
}


.language-switch-btn{
	margin-top: 0.3rem;
}

.language-switch-btn:hover {
	border-bottom: 0.1em solid;
}

@media only screen and (max-width: 1024px) {
	.language-switch-btn {
		margin-top: 0;
		position: absolute;
		right: 8rem;
		top: 1rem;
	}
}
@media only screen and (max-width: 350px) {
	.language-switch-btn {
		right: 6rem;
	}
}


/* Submenu (position absolute)*/

.submenu {
	padding-left: 2rem;
	padding-right: 2rem;
	font-size: 1rem;
	left: 0;
	right: 0;
	float: left;
	width: 100%;
	position: absolute;
	border-bottom: 1px solid black;
	margin-top: 1rem;
	margin-bottom: 1rem;
	background: white;
	overflow-x: hidden;
	display: none;
}

@media only screen and (max-width: 1024px) {
	.submenu {
		padding-left: 0;
		padding-right: 0;
	}
}

@media only screen and (min-width: 1024px) {
 .submenu {
	 font-size: 1rem;
 }
}


/* Schaffe Raum f체r das Submenu */

.mainmenu__item.menu__item--selected {
	padding-bottom: 3rem;
}

@media only screen and (max-width: 1024px) {
	.mainmenu__item.menu__item--selected {
		padding-bottom: 0;
	}
}

.menu__item--selected .submenu {
	display: block;
}

@media only screen and (max-width: 1024px) {
	.menu__item--selected .submenu {
		display: none;
	}
}

.submenu__items {
	display: flex;
}

@media only screen and (max-width: 1024px) {
	.submenu__items {
		display: block;
	}
}

@media only screen and (max-width: 1024px) {
	.submenu {
		position: relative;
		border-bottom: none;
	}
}

.submenu__item{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

 @media only screen and (max-width: 1024px) {
	 .submenu__item{
	 	padding-top: 0;
	 	padding-bottom: 0;
	 }
}

@media only screen and (max-width: 1024px) {

.mainmenu__item--open-submenu>a {
	border-bottom: 0.35rem solid black;
}

.mainmenu__item--open-submenu>a:hover {
	border-bottom: 0.35rem solid black;
}

.mainmenu__item--open-submenu .submenu {
	display: block;
}
}


/* Submenu Item */

.submenu__item {
	margin-right: 2em;
	margin-top: 0;
}

.submenu__item:first-child {
	margin-left: 0;
}

.submenu__item:last-child {
	margin-right: 0;
}

.submenu__item:hover {
	border-bottom: 0.15em solid black;
}

@media only screen and (max-width: 1024px) {
	.submenu__item {
		margin-right: 0;
		border-bottom: none;
	}
}
@media only screen and (max-width: 1024px) {
	.submenu__item a{
		padding-top: 0.75em;
		padding-bottom: 0.75em;
		display: block;
	}
}


@media only screen and (max-width: 1024px) {
	.submenu__item:hover {
		border-bottom: none;
	}
}

.submenu__item--selected {
	border-bottom: 0.15em solid black;
}

@media only screen and (max-width: 1024px) {
	.submenu__item--selected {
		border-bottom: none;
	}
}




/* Burger */

.header__burger {
	height: 2.7em;
	width: 3.5em;
	background: transparent;
	border: 0;
	z-index: 999;
	display: none;
	position: absolute;
	right: 1rem;
	top: 1rem;
}

@media only screen and (max-width: 1024px) {
	.header__burger {
		display: block;
	}
}

.header__burgericon span {
	position: absolute;
	left: 0;
	height: 0.5em;
	right: 0;
	background: black;
	border-radius: 1px;
	display: block;
	transition: .25s ease-in-out;
}

.header__burgericon span:nth-of-type(1) {
	top: 0;
}

.header__burgericon span:nth-of-type(2) {
	top: 50%;
}

.header__burgericon span:nth-of-type(3) {
	top: 100%;
}


.header__burger--open .header__burgericon span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 50%;
	left: 0;
	width: 4em;
}

.header__burger--open .header__burgericon span:nth-child(2) {
	width: 0;
	opacity: 0;
}

.header__burger--open .header__burgericon span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 50%;
	left: 0;
	width: 4em;
}


/* Men체 f채hrt beim scrollen raus/rein */

.page-header.nav-up {
	top: -400px;
}

.page-header.nav-down {
	top: 0;
}
