/* 2021 12 17 */
/* 2021 12 15 */

/* 2021 11 01 */
/* 2021 10 13 */

/* Icons */
.icon-separator{
  height: 0.315em;
  width: 0.15em;
  display: inline-block;
  bottom: 0.11em;
  position: relative;
  margin-left: 0.1em;
  margin-right: 0.1em;
  background-image:url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox=%220 0 10 10%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Ccircle cx=%225%22 cy=%225%22 r=%225%22 /%3E%3C/svg%3E');

}


.icon-eintritt-frei{
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15.755 14.008'%3E%3Cpath fill='%23121212' d='M13.118 0l-5.1 6.129L5.891.1 5 .548l2.088 5.957H.239L0 7.465h6.885l-5 6.024.753.517 5-5.955 2.09 5.922.889-.448-2.124-6.058h7.056l.205-.96H8.939l5-5.992z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto auto;
  margin-left: 0.1em;
  margin-right: 0.1em;

}

.icon-livestream{
    height: 0.55em;
    width: 0.55em;
    /* background-color: black;
    border-radius: 50%; */
    display: inline-block;
    bottom: 0.1em;
    position: relative;
    margin-left: 0.1em;
    margin-right: 0.1em;

    background-image:url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox=%220 0 10 10%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Ccircle cx=%225%22 cy=%225%22 r=%225%22 /%3E%3C/svg%3E');


}

.icon-extern{
  height: 0.5em;
  width: 0.5em;
  background-color: black;
  display: inline-block;
  position: relative;
  margin-left: 0.1em;
  margin-right: 0.1em;
}
