/* 2022 01 10 */

/* 2021 12 15 */


/* 2021 10 21 */

/* 2021 10 13 */

img{
  width: 100%;
  /* noch auf max-width: setzen */
  height: auto;
}

figure{
  margin: 0;
}

figcaption{
  font-size: 0.75em;
  margin-top: 0.25em;

}

.image-element{
  margin: 0;
}

.image-element__img{
  width: 100%;
  height: auto;
}

.image-element__caption{
  margin-top: 0.7em;
  font-size: 0.6em;
  margin-left: 3em;
}


/* Header Image */
.header-image figcaption{
  text-align: right;
  margin-right: 1em;
	font-size: 0.6em;
}


/* Blurry Bg */

img.imgpro {
    width: 100%;
}
.blurry-bg-img{
position: relative;
overflow: hidden;
padding-bottom: calc((9 / 16) * 100%);

}


.blurry-bg-img img{
width: auto!important;
height: auto!important;
max-width: unset!important;
max-height: 100%!important;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.blurry-bg{
filter: blur(20px);
position: absolute;
background-size: cover;
left: 0;
right: 0;
top: 0;
bottom: 0;
z-index: -1;
  transform: scale(1.1);
}

.add-blurry-bg figcaption{
margin-top: 0.5rem;
}
