/* 2021 10 21 */

/* 2021 10 13 */

img{
  width: 100%;
  /* noch auf max-width: setzen */
  height: auto;
}

figure{
  margin: 0;
}

figcaption{
  font-size: 0.75em;
  margin-top: 0.7em;

}

.image-element{
  margin: 0;
}

.image-element__img{
  width: 100%;
  height: auto;
}

.image-element__caption{
  margin-top: 0.7em;
  font-size: 0.6em;
  margin-left: 3em;
}



.header-image figcaption{
  text-align: right;
  margin-right: 1em;
	font-size: 0.6em;

}
