/*  projektmenu */
/* .projektmenu-wrap {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background: white;
  z-index: 98;
  padding-left: 2rem;
  padding-top: 0.75rem;
  border-bottom: 1px solid black;
  list-style: none;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding-right: 1rem;
}

@media only screen and (max-width: 1024px) {
  .projektmenu-wrap {
    padding-left: 1rem;
  }
} */

/* .projektmenu {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  white-space: nowrap;
  align-items: flex-start;
  flex-grow: 1;
  width: 100%;
}

.projektmenu__item {
  margin-right: 2em;
  margin-top: 0;
}

.projektmenu__item a {
  display: block;
  padding-top: 0.35em;
  padding-bottom: 0.35em;
}

.projektmenu__item:hover {
  border-bottom: 0.2rem solid #000;
  border-bottom: calc(3px + 0.1vw) solid #000;
}

.projektmenu__item--selected {
  border-bottom: 0.2rem solid #000;
  border-bottom: calc(3px + 0.1vw) solid #000;
} */








/* neu 220221*/

.projektmenu-wrap {
  margin: 0;
  border-bottom: 1px solid black;
  white-space: nowrap;
  background: white;
  position: sticky;
  top: 0;
  background: white;
  z-index: 98;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.75rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@media only screen and (max-width: 1024px){
.projektmenu-wrap {
    padding-left: 1rem;
    padding-right: 1rem;
}
}

.projektmenu-wrap .projektmenu__item {
   /* display: inline; */
  display: inline-block;
  font-size: 0;
  margin-right: 2rem;
  position: relative;
}

.projektmenu-wrap .projektmenu__item a {
  font-size: 18px;
  /* kein em / rem für fontsize  wegen rundungsproblemen*/
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: inherit;
  text-decoration: none;
  display: inline-block;
}



@media (min-width: 1200px){
.projektmenu-wrap .projektmenu__item a {
    font-size: 19px
}
}
@media (min-width: 1400px){
.projektmenu-wrap .projektmenu__item a {
    font-size: 21px
}
}




.projektmenu__item.projektmenu__item--selected,
.projektmenu__item:hover,
.projektmenu__item:focus{
  border-bottom: 4px solid black;
}
