/* 2021 10 16 */
/* 2021 10 15 */
/* 2021 10 13 */



/* Links */

.element p a:not(.link-button){
    text-decoration: underline;
}
/* .element li a:not(.link-button){
    text-decoration: underline;
} */



/* Link, der aussieht wie ein Button */
.link-button {
  border: 0.1em solid black;
  padding: 0.25em 0.5em;
  display: inline-block;
  font-size: 1em;
  padding-top: 0.35em;
  text-decoration: none;
  /* to do */
  position: relative;
  z-index: 9;
}

.link-button--big{
  font-size: 3.67rem;
}

.link-button--bigger{
  font-size: var(--textsize2);
}

.link-button--small{
  font-size: 1em;
}

.link-button:hover {
	background: white;
}



/* Externer Link */
a.external-link:after{
  padding-left: 0.25em;
  padding-right: 0.25em;
  content: ' \2197';
  display: inline-block;
}

a.download-link:after{
  padding-left: 0.25em;
  padding-right: 0.25em;
  content: ' \2193';
  display: inline-block;
}

a.to-the-right-link:after{
  padding-left: 0.25em;
  padding-right: 0.25em;
  content: ' \2192';
  display: inline-block;
}
