/* 2021 12 17 */
/* 2021 12 15 */

/* 2021 10 27 */
/* 2021 10 16 */
/* 2021 10 15 */
/* 2021 10 13 */


/* Links */

.element p a:not(.link-button),
.element li a:not(.link-button) {
	text-decoration: underline;
}


/* Link, der aussieht wie ein Button */

.link-button {
	padding-top: 0.35em;
	padding-right: 0.5em;
	padding-bottom: 0.25em;
	padding-left: 0.5em;
	border: 1px solid black;
	display: inline-block;
	font-size: 1em;
	text-decoration: none;
	position: relative;
	z-index: 1;
	line-height: 1.4;
}

.link-button--big {
	font-size: 3.67rem;
}

.link-button--bigger {
	font-size: var(--textsize2);
}

.link-button--small {
	font-size: 1em;
}

.link-button:hover {
	background: white;
}


/* Externer Link */

a.external-link{
	padding-right: 1.5em;
	/* display: inline-block; */
}

a.external-link::after {
	padding-left: 0.25em;
	padding-right: 0.25em;
	content: ' \2197';
	 display: inline-block;
	    white-space: nowrap;
			text-decoration: none;
			margin-right: -1.5em;
}


a.download-link{
	padding-right: 1.5em;
	/* display: inline-block; */

}

a.download-link::after {
	padding-left: 0.25em;
	padding-right: 0.25em;
	content: ' \2193';
	 display: inline-block;
	    white-space: nowrap;
			text-decoration: none;
			margin-right: -1.5em;

		}
a.to-the-right-link{
	padding-right: 1.5em;
	/* display: inline-block; */

}

a.to-the-right-link::after {
	padding-left: 0.25em;
	padding-right: 0.25em;
	content: ' \2192';
	display: inline-block;
	    white-space: nowrap;
			text-decoration: none;
			margin-right: -1.5em;

		}
