/* 21 11 22 */

/* .readmore-btn {
	cursor: pointer;
	border-radius: 0.1em;
	margin-right: 1em;
	background: transparent;
	margin-bottom: 1.4rem;
	border: 1px solid black;
	padding-top: 0.35em;
	padding-right: 0.5em;
	padding-bottom: 0.25em;
	padding-left: 0.5em;
	display: inline-block;
	font-size: 1em;
	text-decoration: none;
	position: relative;
	z-index: 1;
	line-height: 1.4;
}

.readmore-btn.open {
	background: black;
	color: white;
}

.more{
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

.read-more-wrap:last-child .readmore-btn{
  margin-bottom: 0;

}

.read-more-wrap:last-child .more{
  margin-bottom: 0;

} */



.readmore-btn {
	cursor: pointer;
	background: transparent;
	font-size: 1em;
	line-height: 1.4;

	border: 2px solid black;
	height: 1.5em;
	width: 1.5em;
	border-radius: 50%;
	position: relative;
}

.readmore-btn:hover {
  background-color: yellow;
}
.readmore-btn:after,
.readmore-btn:before {
		content: "";
		display: block;
		background-color: black;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

.readmore-btn:before {
		height: 70%;
		width: 2px;
	}

.readmore-btn:after {
  height: 2px;
  width: 70%;
}

.readmore-btn:hover::after,
.readmore-btn:hover::before {
  background-color: black;
}

.open.readmore-btn:before {
  display: none;
}
