.flickity-button, .flickity-button:hover {
background: transparent;
}

.flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 90%;
    height: 90%;
}

/* .flickity-prev-next-button {
  top: 33%;
} */

/* .flickity-prev-next-button.next {
  right: 0;
}

.flickity-prev-next-button.previous {
  left: 0;
} */

/* .flickity-button {
  background: transparent;
  color: white;
}

.flickity-button:hover {
  background: none;
  cursor: pointer;
} */

.flickity-button:disabled {
  opacity: 0;
}


/* make caption width = img width */
.medien-slideshow-element figure {
  display: table;
}
.medien-slideshow-element figcaption {
  display: table-caption; caption-side: bottom;
}

.medien-slideshow-element img.landscape {
  width: 70vw;
  height: auto;
}

.medien-slideshow-element img.portrait {
  height: 77vh;
  width: auto;
}

.medien-slideshow-element img.square {
  height: 77vh;
  width: auto;
}

.medien-slideshow-element.slideshow-element__slide {
  height: auto;
  margin-right: 2rem;
}

.medien-slideshow-element.add-blurry-bg {
  width: 70vw;
  height: auto;
}


/* set width of image caption for landscape img */
.medien-slideshow-element .slideshow-element__slide figcaption{
  max-width: 50vw;
}






@media only screen and (max-width: 1024px) {
  .slideshow-element__slide {
    /* width: 80%; */
    margin-right: 1rem;
  }
}



.medien-slideshow-element .slideshow-element__slide:last-of-type{
  padding-right: 2rem;
}


.medien-slideshow-element .flickity-prev-next-button svg {
    fill: white;
stroke: black;
stroke-width: 4px;

}
.medien-slideshow-element:hover .flickity-prev-next-button svg {
    display: block !important;
}

/* .slideshow-element:not(.header-slideshow) .flickity-prev-next-button {
    top: 50%;
} */


.slideshow-element__text {
  margin-top: 1em;
}

/* .slideshow-element .flickity-button {
  background: none;
  cursor: pointer;
  width: 7rem;
  height: 7rem;
  transition: opacity 0.75s;
} */



@media only screen and (max-width: 1024px) {
  .slideshow-element .flickity-button {
    width: 44px;
    height: 44px;
  }
}

/* .flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: auto;
} */

/* .slideshow-element .flickity-button:hover {
  background: none;
  cursor: pointer;
} */

.slideshow-element .slideshow-element__titel {
  font-weight: normal;
  font-size: 1.5em;
}

@media only screen and (min-width: 1024px) {
  .slideshow-element .slideshow-element__titel {
    font-size: 1.75em;
  }
}


/* test fullscreen */
.slideshow-element{
  z-index: unset;
}

 .flickity-enabled.is-fullscreen{
  z-index: 9999;
  background: white;
}

.flickity-enabled.is-fullscreen figcaption{
color: black;
}

.medien-slideshow-element .flickity-enabled.is-fullscreen .vimeo-embed{
  width: 90vw!important;
  height: auto!important;

}


.medien-slideshow-element .flickity-enabled.is-fullscreen img.landscape,
.medien-slideshow-element .flickity-enabled.is-fullscreen img.portrait,
.medien-slideshow-element .flickity-enabled.is-fullscreen img.square  {
 max-width: 90vw!important;
 height: auto!important;

 max-height: 80vh!important;
 width: auto!important;
}
/*
.slideshow-element:not(.header-slideshow) .flickity-enabled.is-fullscreen .vimeo-embed {
 width: 90vw!important;
 height: auto!important;
}

.slideshow-element:not(.header-slideshow) .flickity-enabled.is-fullscreen img.portrait {
 height: 90vh!important;
 width: auto!important;
}

.slideshow-element:not(.header-slideshow) .flickity-enabled.is-fullscreen img.square {
 height: 90vh!important;
 width: auto!important;
} */

.medien-slideshow-element .flickity-enabled.is-fullscreen .slideshow-element__slide{
width: 100vw;
height: 100vh;
background: white;
display: flex;
align-content: center;
justify-content: center;
align-items: center;
flex-wrap: wrap;


}


 @media only screen and (max-width: 840px) {
.medien-slideshow-element .slideshow-element__slide figcaption {
    max-width: unset;
}
}

.medien-slideshow-element.flickity-button{
mix-blend-mode: difference;
}




/* Slideshow für	Header auf Projektseiten */
.header-slideshow {
  padding: 0;
}

.header-slideshow .slideshow-element__slide {
  width: 100%;
}

.header-slideshow .flickity-prev-next-button {
  top: 50%;
  border-radius: 0;
}

.header-slideshow figcaption {
  text-align: right;
  margin-right: 1em;
  margin-bottom: 1em;
  font-size: 0.6em;
}

.header-slideshow.slideshow-element .flickity-button {
  background: none;
  cursor: pointer;
  width: 8.5rem;
  height: 8.5rem;
  background: transparent;
  display: none!important;
}

/* @media only screen and (max-width: 1024px) {
  .header-slideshow.slideshow-element .flickity-button {
    width: 44px;
    height: 44px;
  }
} */
