.flickity-button, .flickity-button:hover {
background: transparent;
}

.flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 90%;
    height: 90%;
}

.flickity-button:disabled {
  opacity: 0;
}


.slideshow-element__slide {
  margin-right: 2rem;
}


@media only screen and (max-width: 1024px) {
  .slideshow-element__slide {
    margin-right: 1rem;
  }
}

.slideshow-element__text {
  margin-top: 1em;
}



@media only screen and (max-width: 1024px) {
  .slideshow-element .flickity-button {
    width: 44px;
    height: 44px;
  }
}

.slideshow-element .slideshow-element__titel {
  font-weight: normal;
  font-size: 1.5em;
}

@media only screen and (min-width: 1024px) {
  .slideshow-element .slideshow-element__titel {
    font-size: 1.75em;
  }
}


.slideshow-element{
  z-index: unset;
}






/* Medien-Slideshow */

.medien-slideshow-element .slideshow-element__slide:last-of-type{
  padding-right: 2rem;
}



/* make caption width = img width */
.medien-slideshow-element figure {
  display: table;
}
.medien-slideshow-element figcaption {
  display: table-caption; caption-side: bottom;
}

/* set width of image caption for landscape img */
.medien-slideshow-element .slideshow-element__slide figcaption{
  max-width: 50vw;
}

.medien-slideshow-element.add-blurry-bg {
  width: 70vw;
  height: auto;
}


/* Btns */
.medien-slideshow-element .flickity-prev-next-button svg {
  fill: white;
  stroke: black;
  stroke-width: 4px;

}
.medien-slideshow-element:hover .flickity-prev-next-button svg {
    display: block !important;
}

/* fullscreen btns */
.medien-slideshow-element .flickity-fullscreen-button .flickity-button-icon {
    position: absolute;
    left: unset;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.medien-slideshow-element .flickity-fullscreen-button {

    width: 1.5rem;
    height: 1.5rem;
    color: white;
}







 @media only screen and (max-width: 840px) {
  .medien-slideshow-element .slideshow-element__slide figcaption {
      max-width: unset;
  }
}

.medien-slideshow-element .flickity-button{
mix-blend-mode: difference;
}


.medien-slideshow-element .flickity-prev-next-button svg{
  fill: white;
  stroke: black;
  stroke-width: 3px;
}

.medien-slideshow-element img.landscape {
  max-width: 61vw!important;
  height: auto!important;

  max-height: 77vh!important;
  width: auto!important;
}
.medien-slideshow-element img.portrait {
  max-width: 40.666vw!important;
  height: auto!important;

  max-height: 77vh!important;
  width: auto!important;
}
.medien-slideshow-element img.square {
  max-width: 40.666vw!important;
  height: auto!important;

  max-height: 77vh!important;
  width: auto!important;}


  .medien-slideshow-element .vimeo-embed {
      width: 61vw;
      height: auto;
  }





/* Fullscreen */

.flickity-enabled.is-fullscreen figcaption{
color: black;
}


.flickity-enabled.is-fullscreen{
 z-index: 9999;
 background: white;
}

.medien-slideshow-element .flickity-enabled.is-fullscreen .vimeo-embed{
  width: 90vw!important;
  height: auto!important;

}


.medien-slideshow-element .flickity-enabled.is-fullscreen img.landscape,
.medien-slideshow-element .flickity-enabled.is-fullscreen img.portrait,
.medien-slideshow-element .flickity-enabled.is-fullscreen img.square  {
   max-width: 90vw!important;
   height: auto!important;
   max-height: 80vh!important;
   width: auto!important;
}

.medien-slideshow-element .flickity-enabled.is-fullscreen .slideshow-element__slide{
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}








/* Slideshow für	Header auf Projektseiten */
.header-slideshow {
  padding: 0;
}

.header-slideshow .slideshow-element__slide {
  width: 100%;
}

.header-slideshow .flickity-prev-next-button {
  top: 50%;
  border-radius: 0;
}

.header-slideshow figcaption {
  text-align: right;
  margin-right: 1em;
  margin-bottom: 1em;
  font-size: 0.6em;
}

.header-slideshow.slideshow-element .flickity-button {
  background: none;
  cursor: pointer;
  width: 8.5rem;
  height: 8.5rem;
  background: transparent;
  display: none!important;
}

/* @media only screen and (max-width: 1024px) {
  .header-slideshow.slideshow-element .flickity-button {
    width: 44px;
    height: 44px;
  }
} */
