/* 2021 10 16 */
/* 2021 10 15 */
/* Programmteaser-Kalender */

/* Momentan nur auf der Startseite */


.programmteaser-kalender-item {
	width: 42%;
	margin: 1em;
}

@media only screen and (min-width: 1200px) {
	.programmteaser-kalender-item {
		width: 28%;
	}
}

@media only screen and (max-width: 1024px) {
	.programmteaser-kalender-item {
		width: 100%;
	}
}

.programmteaser-kalender-item__datum {
	min-height: 1.75em;
	font-size: 1.75em;
}

.programmteaser-kalender-item__uhrzeit {
	font-size: 1.75em;
	margin-bottom: 0.25em;
}

.programmteaser-kalender-item__title {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.programmteaser-kalender-item p {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}



/* Teaser (mit Verlauf) */


/* Momentan nur auf der Startseite */

.teaser-item-element {
	display: flex;
	flex-wrap: wrap;
	z-index: 2;
	position: relative;
}


.teaser-item img.portrait {
	height: auto;
	max-height: 60vh;
	width: auto;
}

@media only screen and (max-width: 1024px) {
  .teaser-item img.portrait {
  	height: auto;
  	max-height: auto;
  	max-width: 100%;
  }
}


.teaser-item {
	position: relative;
	padding-bottom: 8em;
	padding-left: 2em;
	padding-right: 2em;
}

.teaser-item__visual {
	margin-bottom: 0.67em;
}

.teaser-item__text {
	margin-bottom: 2em;
}


.teaser-item__title {
	font-size: 2.67em;
	line-height: 1.1;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.teaser-item__text p {
	margin-block-end: 0.75em;
	margin-block-start: 0.25em;
}
