.text-element>h2 {
	margin-bottom: 1.4rem
}
.text-element ul,
.text-element ol,
.text-element>h2,
.text-element>h3,
.text-element>p {
	line-height: 1.4;
	max-width: 35rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.4rem
}



@media (max-width: 39em) {
	.text-element p {
		margin-left: 0;
	}
}

.text-element figure {
	margin-top: 2em;
	margin-bottom: 2em;
}

.text-element figure.portrait-wrap {
	max-width: 40rem;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 60em) {
	.text-element figure {
		margin-top: 1.4rem;
		margin-bottom: 1.4rem;
		margin-left: -1rem;
		margin-right: -1rem;
	}
	.text-element figure figcaption {
		margin-left: 1rem;
	}
}

.text-element figure.text-element__image--small {
	max-width: 35rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.4rem;
	margin-bottom: 1.4rem;
}

.text-element figure.text-element__image--small figcaption {
	margin-left: 0;
}

.text-element blockquote {
	max-width: 46rem;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.75em;
	margin-top: 2em;
	margin-bottom: 2em;
}

@media (max-width: 60em) {
	.text-element blockquote {
		max-width: 35rem;
	}
}
@media (max-width: 1024px) {
	.text-element blockquote {
		font-size: 1.5em;
	}
}


/* read more in text */
.text-element .read-more-wrap {
	max-width: 35rem;
	margin-left: auto;
	margin-right: auto;
}

/*
list */


.text-element ul li {
  list-style: none;
  position: relative;
	padding-left: 1em;
}

.text-element  ul li:before {
  content:"\2219";
  width: 1em;
  height: 1em;
	margin-right: 1.3em;
  position: absolute;
  left: 0;

}
.text-element ol {
	padding-left: 1em;
}

.text-element ol li {
  list-style: unset;
  position: relative;
	padding-left: 0;
}
