/* 2021 10 13 */


.add-gradient {
	position: relative;
}

/* defalut farbe */
.add-gradient:before {
	background: transparent linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #CCDAE3 20%, #CCDAE3 80%, rgba(255, 255, 255, 0) 100%);
	opacity: 0;
	transition: all 1.5s ease;
	position: absolute;
	content: " ";
	width: 100%;
	height: 140%;
	z-index: -1;
	top: -20%;
  left: 0;
  right: 0;
}

.add-gradient--visible:before {
	opacity: 1;
}



.add-gradient--static:before {
	opacity: 1;

}


.color2::before {
	background: transparent linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FDC8F5FB 20%, #FDC8F5FB 80%, rgba(255, 255, 255, 0) 100%);
}

.color3::before {
	background: transparent linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFEB95 20%, #FFEB95 80%, rgba(255, 255, 255, 0) 100%);
}

.color4::before {
	background: transparent linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFB1B1 20%, #FFB1B1 80%, rgba(255, 255, 255, 0) 100%);
}

.color5::before {
	background: transparent linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #EFEAFD 20%, #EFEAFD 80%, rgba(255, 255, 255, 0) 100%);
}

.color6::before {
	background: transparent linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFF85 20%, #FFFF85 80%, rgba(255, 255, 255, 0) 100%);
}

.color7::before {
	background: transparent linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FDC6E4EF 20%, #FDC6E4EF 80%, rgba(255, 255, 255, 0) 100%);
}

.color8::before {
	background: transparent linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FF4E00 20%, #FF4E00 80%, rgba(255, 255, 255, 0) 100%);
}

.color-white::before {
	background: transparent linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 20%, white 80%, rgba(255, 255, 255, 0) 100%);
}

.color9::before {
	background: transparent linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFE3E9 20%, #FFE3E9 80%, rgba(255, 255, 255, 0) 100%);
}
