.video-player-wrap {
  position: relative;
}

.video-player__play-button {
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0;
  background: transparent;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 8vw 0 8vw 13vw;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.9)
}

.video-player__play-button:hover {
  border-color: transparent transparent transparent white;
}